{% extends "anime/base.html" %}

{% load cache %}

{% load animetemplates %}

{% block title %}{% if link.status %} - {% statusname link.status %} list{% endif %}{% endblock %}

{% block mainlink %}
{% endblock %}

{% block main %}
{% cache 0 mainTable cachestr %}
    <div id="dvid">
        <h2 class="listtitle">{% if link.status %}{% statusname link.status %} list{% if link.user %} for {% username link.user %}{% endif %}{% endif %}</h2>
        {% if not list %}
            {% if cachestr %}
        <p>Nothing to display.</p>
            {% endif %}
        {% else %}
            {% url 'index' status=link.status user=link.user as link_order %}
        <table id="tbl" cellspacing="0" class="tbl">
            {% include "anime/base/listhead.html" %}
            {% include "anime/base/listbody.html" %}
        </table>
        {% endif %}
    </div>
    {% include "anime/base/listpages.html" %}
    <div id="card" class="right"></div>
{% endcache %}
{% endblock %}
