

<tbody id="tbdid">
    {% for title in list %}
    <tr class="{% if title.air %}air a{% else %}r{% endif %}{{ title.id }}">
        <td id="link{{ title.id }}" class="link">
            <a target="_blank" class="cardurl module-card" href="/card/{{ title.id }}/" data-method="get" data-params="[{{ title.id }}]">
                <img alt="Go" src="/static/arrow.png">
            </a>
        </td>
        <td id="id{{ title.id }}" class="id module-utils" data-method="cnt" data-params='["id", {{ title.id }}]'>{{ forloop.counter0|add:pages.start }}</td>
        <td id="title{{ title.id }}" class="title module-utils" data-method="cnt" data-params='["title", {{ title.id }}]'>{{ title.title }}</td>
        <td id="episodes{{ title.id }}" class="episodes module-utils" data-method="cnt" data-params='["episodes", {{ title.id }}]'>{% if title.count %}{{ title.count }}/{% endif %}{{ title.episodesCount }}</td>
        <td id="release{{ title.id }}" class="release module-utils" data-method="cnt" data-params='["release", {{ title.id }}]'>{{ title.release }}</td>
        <td id="type{{ title.id }}" class="type module-utils" data-method="cnt" data-params='["type", {{ title.id }}]'>{{ title.type }}</td>
        {% if link.status %}
        <td id="changed{{title.id}}" class="changed">{{ title.changed|date:"d.m.Y" }}</td>
            {% if link.status == 3 %}
        <td id="rating{{title.id}}" class="rating">{{ title.rating }}</td>
            {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
