

<tbody id="tbdid">
    {% for title in list %}
    <tr class="{% if title.air %}air a{% else %}r{% endif %}{{ title.id }}">
        <td id="link{{ title.id }}" class="link">
            <a target="_blank" class="cardurl" href="/card/{{ title.id }}/" onclick="return Card.get({{ title.id }}, event);">
                <img alt="Go" src="/static/arrow.png">
            </a>
        </td>
        <td onclick="cnt('id', '{{ title.id }}', event);" id="id{{ title.id }}" class="id">{{ forloop.counter0|add:pages.start }}</td>
        <td onclick="cnt('title', '{{ title.id }}', event);" id="title{{ title.id }}" class="title">{{ title.title }}</td>
        <td onclick="cnt('episodes', '{{ title.id }}', event);" id="episodes{{ title.id }}" class="episodes">{% if title.count %}{{ title.count }}/{% endif %}{{ title.episodesCount }}</td>
        <td onclick="cnt('release', '{{ title.id }}', event);" id="release{{ title.id }}" class="release">{{ title.release }}</td>
        <td onclick="cnt('type', '{{ title.id }}', event);" id="type{{ title.id }}" class="type">{{ title.type }}</td>
        {% if link.status %}
        <td id="changed{{title.id}}" class="changed">{{ title.changed|date:"d.m.Y" }}</td>
            {% if link.status == 3 %}
        <td id="rating{{title.id}}" class="rating">{{ title.rating }}</td>
            {% endif %}
        {% endif %}
    {% endfor %}
    </tr>
</tbody>
