{% extends "anime/base.html" %}

{% load cache %}


{% block searchlink %}
{% endblock %}


{% block search %}
    <div id="srch">
        <form method="POST" action="/search/" id="srchp">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            <input id="sin" name="string" type="text" value="{{ link.string }}"/>
            <input type="submit" value="Search" />
        </form>
    </div>
{% endblock %}


{% block main %}
{% cache 0 search cachestr %}
    <div id="dvid">
        {% if not list %}
            {% if cachestr %}
        <p>Nothing found.</p>
            {% endif %}
        {% else %}
            {% url 'search' string=link.string as link_order %}
        <table id="tbl" cellspacing="0" class="tbl">
            {% include "anime/base/listhead.html" %}
            {% include "anime/base/listbody.html" %}
        </table>
        {% endif %}
    </div>
    {% include "anime/base/named_pages.html" %}
    <div id="card" class="right"></div>
{% endcache %}
{% endblock %}
