{% extends "anime/base.html" %}

    {% block customScripts %}{% if user.is_authenticated %}{{ form.media.render }}{% endif %}{% endblock %}

    {% block main %}
    {% if user.is_authenticated %}
    <form class="addform" action="/add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}            
    	{% for field in form %}
        <div>
            {{ field.label_tag }}: {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}            
        <input type="submit" class="right" value="Add" />
    </form>
    {% else %}
    <div>Pool's closed.</div>
    {% endif %}
    {% endblock %}