{% spaceless %}
{% load animetemplates %}
{% load cache %}
{# % load compress % #}
{% load url from future %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Anime catalog{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{% block description %}{% endblock %} Simple anime catalog. An easy way to create and manage your anime lists. No registration required.">
    <meta name="Keywords" content="anime, anime catalog,  anicat, {% block keywords %}animelist, anime list{% endblock %}">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="Anime catalog" href="{{ STATIC_URL }}srch.xml" />
    <link href="{{ STATIC_URL }}style.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}nanoscroller.css" type="text/css" rel="stylesheet" />
    <link href="{% url 'user_css' %}" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}scripts/lib/mocha/mocha.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/element/element.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/lib/mocha/mocha.js"></script>
    <script data-main="{{ STATIC_URL }}scripts/main" src="{{ STATIC_URL }}scripts/lib/require.js"></script>
    <script src="{{ STATIC_URL }}scripts/lib/blanket.min.js" data-cover-adapter="{{ STATIC_URL }}scripts/lib/mocha-blanket.js" data-cover-only="//.*/" data-cover-never="['lib','element','jsi18n/','tests']" data-cover-reporter="{{ STATIC_URL }}scripts/lib/blanket_newtab.js"></script>
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/script.js" data-cover></script>
    {% block customScripts %}{% endblock %}
</head>
<body>
    <div id="header" class="thdtbl">
        <div class="leftmenu">
            {% block mainlink %}
                <a href="/">Main</a>
                <span class="delimiter">|</span>
            {% endblock %}

            {% block searchlink %}
                <a href="{% url 'search' %}" rel="nofollow" class="module-search" data-method="toggle" accesskey="s">Search</a>
                <span class="delimiter">|</span>
            {% endblock %}

            <a href="{% url 'faq' %}">FAQ</a><span class="delimiter">|</span>
            <a href="{% url 'card' %}" rel="nofollow">Random</a>

            {% block filterlink %}
                <span class="delimiter">|</span>
                <a class="module-filter" data-method="toggle">Filter⇣</a>
            {% endblock %}
        {% include "anime/header.html" %}
    </div>

{% block statdiv %}
        <div id="statistic" class="right"></div>
{% endblock %}

{% block search %}
    <div id="srch" class="hidden">
        <form method="POST" action="{% url 'search' %}" id="srchp" class="module-search" data-action="submit" data-method="send" data-params="[1]">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            <input id="sin" name="string" type="text"/>
            <input type="submit" value="Search" />
        </form>
        <div id="srchres"></div>
    </div>
{% endblock %}


{% block main %}
{% endblock %}


{% block filterform %}
    {% cache 0 filter request.session.session_key %}
        {% filterForm %}
        {% include "anime/filter.html" %}
        {% block filter %}
        {% endblock %}
    {% endcache %}
{% endblock %}


{% cache 0 footer user.is_authenticated %}
    <div class="cont_men" id="menu"></div>
    <div class="cont_men" id="popup">
        <span id="popups"></span>
    </div>
    <div class="footer">v. <a href="{% url 'changes' %}" style="font-size: 10pt;">3.3.0</a>.</div>
    {% addForm %}
    {% block addForm %}
    {% if user.is_authenticated %}
    <form id="addform" class="addform cont_men" action="{% url 'edit_add' %}" method="post" enctype="multipart/form-data" onsubmit="return false;">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        <div class="mainerror">{{ AddForm.non_field_errors }}</div>
        {% for field in AddForm %}
        <div {% if forloop.counter0|divisibleby:2 %}class="clear"{% endif %}>
            {{ field.label_tag }}: {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input type="submit" class="right module-add" data-method="sendForm" value="Add"/>
    </form>
    {% endif %}
    {% endblock %}
</body>
{% endcache %}


{% endspaceless %}
