{% extends "anime/base.html" %}

{% load cache %}

    {% block title %} - {% if not anime %}Nothing found{% else %}{{ anime.title }}{% endif %}{% endblock %}
    {% block description %}{% if anime %}Name: {{ anime.title }}. Type: {{ anime.type }}{% endif %}{% endblock %}
    {% block keywords %}{% if anime %}{{ anime.title }}, {{ anime.type }}{% endif %}{% endblock %}

    {% block main %}
    {% if not anime %}
    <div id="nocard">
        <p>Record not found.</p>
    </div>
    {% else %}
    <div id="pagecard">
        <div id="imagebun" class="cardcol">
            <div id="cimg">
                <img src="/images/{{ anime.id }}/" />
                {% if user.is_authenticated %}<a href="/edit/image/{{ anime.id }}/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "image"]'>Submit new</a>{%endif%}
            </div>
            <div>
            {% if user.is_authenticated %}
                <a href="/edit/bundle/{{ anime.bundle.id|default:0 }}/" class="right module-edit" data-method="rf" data-params='[{{ anime.bundle.id|default:0 }}, "bundle"]'>Edit</a>
            {%endif%}
                <h4>Bundled with:</h4>
                <!-- Это все нужно переверстать -->
                <table class="bundle{{ anime.bundle.id|default:0 }}">
                    <tr>
                        <th><input type="hidden" id="currentid_b_{{ anime.bundle.id|default:0 }}" name="currentid" value="{{ anime.id }}" /></th>
                    </tr>
                {% for item in bundle %}
                    <tr>
                        <td>{% ifequal item.id anime.id %}►{% endifequal %}</td>
                        <td align="right">{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'card' item.id %}" class="s s{{ item.id }}" >{{ item.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div id="main" class="cardcol">
            <div>
                {% if user.is_authenticated %}<a href="/edit/name/{{ anime.id }}/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "name"]'>Edit</a>{%endif%}
                <h4>Name:</h4>
                <div class="name{{ anime.id }}">{% for name in names %}{% if name.title == anime.title %}<i>{{ name.title }}</i>{% else %}{{ name.title }}{% endif %}<br/>{% endfor %}</div>
            </div>
            <div>
                {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/releaseType/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "type"]'>Edit</a>{%endif%}
                <h4>Type:</h4>
                <span class="type{{ anime.id }}">{{ anime.type }}</span>
            </div>
            <div>
                {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/genre/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "genre"]'>Edit</a>{%endif%}
                <h4>Genre:</h4>
                <span class="genre{{ anime.id }}">{{ anime.genre.all|join:", " }}</span>
            </div>
            <div>
                {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/episodesCount/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "episodesCount"]'>Edit</a>{%endif%}
                <h4>Episodes:</h4>
                <span class="episodesCount{{ anime.id }}">{{ anime.episodesCount }}</span>
            </div>
            <div>
                {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/duration/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "duration"]'>Edit</a>{%endif%}
                <h4>Duration:</h4>
                <span class="duration{{ anime.id }}">{{ anime.duration }} min.</span>
            </div>
            <div>
                {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/releasedAt,endedAt/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "release"]'>Edit</a>{%endif%}
                <h4>Released:</h4>
                <span class="release{{ anime.id }}">{{ anime.release }}</span>
            </div>
            {% if links or user.is_authenticated %}
            <div>
                {% if user.is_authenticated %}<a href="/edit/links/{{ anime.id }}/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "links"]'>Edit</a>{%endif%}
                <h4>Links:</h4>
                <span class="links{{ anime.id }}">
                {% for link in links %}
                    <a rel="nofollow" target="_blank" href="{{ link.link }}" >{{link.get_linkType_display}}</a>&nbsp;
                {% endfor %}
                </span>
            </div>
            {% endif %}
            <div>
                <a rel="nofollow" href="/edit/state/{{ anime.id }}/" class="right module-edit" data-method="rf" data-params='[{{ anime.id }}, "state"]' class="right">Edit</a>
                <h4>State:</h4>
                <p class="state{{ anime.id }}">
                    {% if userstatus.state == 3 %}
                        <span class="right">{{ userstatus.rating }}</span>
                    {% else %}
                        {% if userstatus.count %}
                            <span class="right">{{ userstatus.count }}/{{ anime.episodesCount }}</span>
                        {% endif %}
                    {% endif %}
                    <span>{% if userstatus.statusName %}{{ userstatus.statusName|capfirst }}{% else %}None{% endif %}</span>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
