{% extends "anime/base.html" %}

{% load cache %}

    {% block title %} - {% if not anime %}Nothing found{% else %}{{ anime.title }}{% endif %}{% endblock %}
    {% block description %}{% if anime %}Name: {{ anime.title }}. Type: {{ anime.releaseTypeS }}{% endif %}{% endblock %}
    {% block keywords %}{% if anime %}{{ anime.title }}, {{ anime.releaseTypeS }}{% endif %}{% endblock %}

    {% block main %}
    {% if not anime %}
    <div id="nocard">
        <p>No record found.</p>
    </div>
    {% else %}
    <div id="imagebun" class="cardcol">
        <div id="cimg">
            <img src="/images/{{ anime.id }}/" />
        </div>
        {% if user.is_authenticated %}
        <a href="/edit/bundle/{% if anime.bundle.id %}{{ anime.bundle.id }}{% else %}0{% endif %}/" class="right">Edit</a>
        {%endif%}
        <b>Bundled with:</b><br/>
        <!-- Это все нужно переверстать -->
        <table>
            {% for bundle in bundles %}
            <tr>
                <td>{% ifequal bundle.0.id anime.id %}►{% endifequal %}</td>
                <td align="right">{{ forloop.counter }}</td>
                <td>
                    <a href="/card/{{ bundle.0.id }}" class="s{{ bundle.1 }}" >{{ bundle.0.title }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="main" class="cardcol">
        <div>
            {% if user.is_authenticated %}<a href="/edit/name/{{ anime.id }}/" class="right">Edit</a>{%endif%}
            <b>Name:</b><br/>
            {% for name in anime.animenames.values %}{{ name.title }}<br/>{% endfor %}
        </div>
        <div>
            {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/releaseType/" class="right">Edit</a>{%endif%}
            <b>Type:</b><br/>{{ anime.releaseTypeS }}
        </div>
        <div>
            {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/genre/" class="right">Edit</a>{%endif%}
            <b>Genre:</b><br/>{{ anime.genre.all|join:", " }}
        </div>
        <div>
            {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/episodesCount/" class="right">Edit</a>{%endif%}
            <b>Episodes:</b><br/><span name="episodesCount">{{ anime.episodesCount }}</span>
        </div>
        <div>
            {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/duration/" class="right">Edit</a>{%endif%}
            <b>Duration:</b><br/>{{ anime.duration }} min.
        </div>
        <div>
            {% if user.is_authenticated %}<a href="/edit/anime/{{ anime.id }}/releasedAt,endedAt/" class="right">Edit</a>{%endif%}
            <b>Translation:</b><br/>{{ anime.translation }}
        </div>
        {% if animelinks or user.is_authenticated %}
        <div>
            {% if user.is_authenticated %}<a href="/edit/links/{{ anime.id }}/" class="right">Edit</a>{%endif%}
            <b>Links:</b><br />
            {% if animelinks.AniDB %}
            <a rel="nofollow" target="_blank" href="http://anidb.net/perl-bin/animedb.pl?show=anime&aid={{ animelinks.AniDB }}" >AniDB</a>&nbsp;
            {% endif %}
            {% if animelinks.ANN %}
            <a rel="nofollow" target="_blank" href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id={{ animelinks.ANN }}" >ANN</a>&nbsp;
            {% endif %}
            {% if animelinks.MAL %}
            <a rel="nofollow" target="_blank" href="http://myanimelist.net/anime/{{ animelinks.MAL }}" >MAL</a>
            {% endif %}
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="card_userstatus">
            <a href="/edit/status/{{ anime.id }}/" onclick="cardstatus({{ anime.id }}); return false;" class="right">Edit</a>
            <b>State:</b><br/><span>{% if userstatus.statusName %}{{ userstatus.statusName|capfirst }}{% else %}None{% endif %}</span>
            <input type="hidden" name="card_userstatus_input" value="{{ userstatus.status }}">
            {% if userstatus.count %}
            	<span class="right">{{ userstatus.count }}/{{ anime.episodesCount }}</span>
            	<input type="hidden" name="card_usercount_input" value="{{ userstatus.count }}">
            {% endif %}
        </div>
        {%endif%}
    </div>
    {% endif %}
    {% endblock %}