{% extends "anime/base.html" %}

    {% block main %}
<div class="faq">
    <h4>v.3.3.0</h4>
    <p>Filters.<br />
        Ajax anime lists. Lists loading without page reloading.<br />
        Ajax statistic.<br />
        Statistics export.<br />
        Bundles suggestion.<br />
        Genres import to add form.<br />
        Javascript tests.<br />
        API changes. New API calls for main list, statistics, user list. Changes in search API.<br />
        Bug fixes<br />
    </p><br />
    <h4>v.3.2.0</h4>
    <p>OpenID login.<br />
        Pages for password changing and restoring.<br />
        New Registration system. Only email needed for registration. Both login name and e-mail can be used for login.<br />
        New cache system. Cache bugs fixed.<br />
        Big refactoring work. Some little bugs fixed.<br />
        Tests added. All basic code covered with tests.<br />
        API update. API description generates by inner script now.<br />
        All wrong pages changed for 404 status instead of default data using.<br />
        Changes in js code. No more absolute mouse tracking.<br />
        Added links for image request and current card link in js cards.<br />
        Dynamic creation of link fields added.<br />
        New colums in list: Changed for all user statuses, rating for "Done".<br />
        Added count of completed episodes for status "Now".<br />
        Notes for user lists.<br />
        Some design changes. New inputs and buttons styles.<br />
    </p><br />
    <h4>v.3.1.0</h4>
    <p>Ajax edit.<br />
        Public user lists.<br />
        Current count for long-term statuses.<br />
        Rating for completed items.<br />
        Reversed sorting.<br />
    </p><br />
    <h4>v.3.0.99.910</h4>
    <p>Add edit links to ajax-generated cards.<br />
        Anonymous users have state on ajax-generated cards now.<br />
        Anonymous users have colored links now.
    </p><br />
    <h4>v.3.0.99.900</h4>
    <p>Move links status from html, cards cache.<br />
       Fix uploaded filename bug.<br />
       Add ajax cards on main page.<br />
       New links format.<br />
       Fix search spacing bug.<br />
       Only active and last requests showing now.
    </p><br />
    <h4>v.3.0.99.824</h4>
    <p>Fix some bugs with requests.<br />
        Return commented exception.<br />
        Image link added.<br />
        Card edit style changes.
    </p><br />
    <h4>v.3.0.99.820</h4>
    <p>Max upload file size is 6 Mb now.<br />
        Request forms added.<br />
        API description added.<br />
        Fix unknown enddate setter.
    </p><br />
    <h4>v.3.0.99.801</h4>
    <p>Search cache bug fix.</p><br />
    <h4>v.3.0.99.800</h4>
    <p>Anonymous lists.<br />
        Unknown dates.<br />
        Non-ajax search. Opensearch support.<br />
        Status change on cards.</p><br />
    <h4>v.3.0.99.702</h4>
    <p>Small bugfix in bundles.</p><br />
    <h4>v.3.0.99.701</h4>
    <p>Added addition form.<br />
        Added non-js edit.<br />
        Added links model.<br />
        Added mal import.<br />
        Some history views.</p><br />
    <h4>v.3.0.99</h4>
    <p>Start moving to django. <!--Жданга в 4 раза медленней, но энтерпрайзно же!--></p><br />
    <h4>v.3.0.0</h4>
    <p>First python version. Login/logout functions ported.<br />
        Registration function ported.<br />
        Cards ported.<br />
        Search functions ported.<br /></p><br />
</div>
    {% endblock %}
