{% extends "anime/base.html" %}

    {% block main %}
    <p>
        v.3.0.99.702<br />
        Small bugfix in bundles.
    </p>
    <p>
        v.3.0.99.701<br />
        Added addition form.<br />
        Added non-js edit.<br />
        Added links model.<br />
        Added mal import.<br />
        Some history views.
    </p>
    <p>
        v.3.0.99<br />
        Start moving to django. <!--Жданга в 4 раза медленней, но энтерпрайзно же!-->
    </p>
    <p>
        v.3.0.0<br />
        First python version. Login/logout functions ported.<br />
        Registration function ported.<br />
        Cards ported.<br />
        Search functions ported.<br />
    </p>
    {% endblock %}