{% extends "anime/base.html" %}

    {% block main %}
    <h4>v.3.0.99.822</h4>
    <p>Fix some bugs with requests.
        Return commented exception.<br />
    </p><br />
    <h4>v.3.0.99.820</h4>
    <p>Max upload file size is 6 Mb now.<br />
        Request forms added.<br />
        API description added.<br />
        Fix unknown enddate setter.
    </p><br />
    <h4>v.3.0.99.801</h4>
    <p>Search cache bug fix.</p><br />
    <h4>v.3.0.99.800</h4>
    <p>Anonymous lists.<br />
        Unknown dates.<br />
        Non-ajax search. Opensearch support.<br />
        Status change on cards.</p><br />
    <h4>v.3.0.99.702</h4>
    <p>Small bugfix in bundles.</p><br />
    <h4>v.3.0.99.701</h4>
    <p>Added addition form.<br />
        Added non-js edit.<br />
        Added links model.<br />
        Added mal import.<br />
        Some history views.</p><br />
    <h4>v.3.0.99</h4>
    <p>Start moving to django. <!--Жданга в 4 раза медленней, но энтерпрайзно же!--></p><br />
    <h4>v.3.0.0</h4>
    <p>First python version. Login/logout functions ported.<br />
        Registration function ported.<br />
        Cards ported.<br />
        Search functions ported.<br /></p><br />
    {% endblock %}
