{% extends "anime/base.html" %}

    {% block main %}
    <h4>What is this?</h4>
    <p>Anime catalog is a place where you can create and manage yours anime list.
    The idea is the ability to rapidly set an anime status. Project is the result of
    script for managing personal anime sheet, written several years ago for myself and Anonymous from /s/.
    It is still in development yet, but already has the status of beta.</p><br />
    <h4>How can I use this?</h4>
    <p>Just click on list item number.</p><br />
    <h4>It is a social network?</h4>
    <p><b>No.</b> You already have enough social networks. If you want to communicate with
    friends use facebook or anything else. This project is for managing anime lists, nothing more.</p><br />
    <h4>Will this project become a social network in future?</h4>
    <h4>NO</h4><br />
    <h4>But I want to show my list to friends.<span style="font-size: 7px;"> Though they are random people from the Internets, I have no life and my powerlevel is 9001 title, I should boast somehow!</span></h4>
    <p>You can use your id in statistic link{% if user.is_authenticated %} like <a href="/stat/{{user.id}}/">this</a>{% endif %}.</p><br />
    <h4>Why am I Anonymous for other?</h4>
    <p>It is bad? User anonymosity is the default. In the future it will be possible to disable it for youself.</p><br />
    <h4>I registered yesterday but cannot edit or add titles. Does this work?</h4>
    <p>Yes it works but has a protection from vandalism. Wait a bit more. Nevertheless,
    list management is available immediately.</p><br />
    <h4>Okay it works. What is the policy of adding? Can I add all I want?</h4>
    <p>Not quite. You should not add bonus dvd-specials. Anicat is not intended to cover all the additional releases
    and advertisements. If you're not sure, try to see how it's done in AniDB and ANN. MAL is a bad example.</p><br />
    <h4>I want to add anime but I cannot yet/not sure in it.</h4>
    <p>You can use <a href="/animerequest/">Anime request form</a>. You can use it as you wish but, please, don't use this form for feedback, it has its own <a href="/feedback/">form</a>.</p><br />
    <h4>I have MAL. Can I migrate easily?</h4>
    <p>You can try MAL migration tool in your <a href="/settings/" >settings</a> page.</p><br />
    <h4>I want to propose anything.</h4>
    <p>You can use <a href="/feedback/">feedback form</a> as you wish.</p><br />
    <h4>You said that it is beta now but why current version is 3?</h4>
    <p>As I said first version was little standalone script in perl.
    Project received version 2 when it became a multi-user.
    Now it is rewritten in python so version bumped to 3.</p><br />
    <h4>Can I get the source code?</h4>
    <p>You can check out the project on <a href="https://github.com/SirAnthony/Anicat/tree/django">github</a>.
    You must remember that Anicat is free for personal use only. Check the <a href="/LICENSE" >license</a> for feature details.</p><br />
    {% endblock %}
