
{% load animetemplates %}

{% block filter %}
<div class="filterform hidden" id="id_filter_container">
    <div class="filter">
        <div>
            <p>{{ FilterForm.episodesCount.label_tag }}:</p>
            {{ FilterForm.episodesCount }}
        </div>
        <div>
            <p>{{ FilterForm.duration.label_tag }}:</p>
            {{ FilterForm.duration }}
        </div>
        <div>
            <p>{{ FilterForm.releasedAt.label_tag }}:</p>
            {{ FilterForm.releasedAt }}
        </div>
        <div>
            <p>{{ FilterForm.endedAt.label_tag }}:</p>
            {{ FilterForm.endedAt }}
        </div>
    </div>
    <div class="filter">
        <div class="nano" id="id_filter_type_container">
            <label for="id_filter_type">{{ FilterForm.releaseType.label_tag }}</label>:
            <div class="content">
                {{ FilterForm.releaseType }}
                </select>
            </div>
        </div>
        <div class="nano" id="id_filter_state_container">
            <label for="id_filter_state">{{ FilterForm.state.label_tag }}</label>:
            <div class="content">
                {{ FilterForm.state }}
            </div>
        </div>
    </div>
    <div class="filter nano" id="id_filter_genre_container">
        <label for="id_filter_genre">{{ FilterForm.genre.label_tag }}</label>:
        <div class="content">
            {{ FilterForm.genre }}
        </div>
    </div>
    <input type="button" value="Clear" class="right module-filter" data-method="clear"/>
    <input type="button" value="Apply" class="right module-filter" data-method="apply" />
    <div class="clear mainerror"></div>
</div>
{% endblock %}
