
{% load animetemplates %}

{% if user.is_authenticated %}

            {% block addLink %}
                <span class="delimiter">|</span>
                <a href="{% url 'edit_add' %}" rel="nofollow" onclick="add.toggle(); return false;">Add⇣</a>
            {% endblock %}
        </div>

        <div id="usermenu" class="rightmenu">
            <span class="delimiter">|</span>
            <span><a href="{% url 'settings' %}" title="User settings">{% username user %}</a></span>
            <span class="delimiter">|</span>
            <a href="{% url 'logout' %}" onclick="user.logout(); return false;">Logout</a>
        </div>

        <div class="rightmenu">
            <a href="{% url 'statistics' %}" onclick="statistics.toggle(); return false;">Statistics⇣</a>
            {% block selectView %}
            <span class="delimiter">|</span>
            <div class="select">
                <select id="show" onChange="setshow();">
                {# Это можно в какой-нибудь лист ужать #}
                    <option value="a">All</option>
                    <option value="0">None</option>
                    <option value="1">Want</option>
                    <option value="2">Now</option>
                    <option value="3">Watched</option>
                    <option value="4">Dropped</option>
                    <option value="5">Partially watched</option>
                </select>
                <span>Display Mode&nbsp;&nbsp;⇵</span>
            </div>
            {% endblock %}
        </div>

{% else %}

        </div>

        <div id="usermenu" class="rightmenu">
            <a href="#" onclick="statistics.toggle(); return false;">Statistics⇣</a>
            <span class="delimiter">|</span>
            <a href="{% url 'login' %}" onclick="return user.toggle();">Account</a>
        </div>

    </div>

    <div id="loginform" class="right">
        {% loginForm %}
        <dl>
            <dd>
                <form method="POST" action="{% url 'login' %}" id="login" onsubmit="return user.login(event);">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    {{ LoginForm.username }}
                    {{ LoginForm.password }}
                    <input type="submit" value="Login" />
                </form>
            </dd>
            <dt><a id="register-more" class="inurl" onclick="user.more();">More⇣</a></dt>
            <dd class="hidden"><p id="logininfo" class="error"></p></dd>
            <div class="clear"></div>
        </dl>
        <dl id="logdvmore" class="right hidden">
            <dd>
                <a rel="nofollow" href="{% url 'password_reset' %}" class="inurl right">Restore password</a>
                <p>
                {% for name in social_auth.backends.openid %}
                    {% if  name != "openid" %}
                    <a rel="nofollow" target="_blank" onclick="return user.alterlogin('{% url 'socialauth_begin' name %}');" class="inurl" href="{% url 'socialauth_begin' name %}">{{ name|title }}</a>
                    {% endif %}
                {% endfor %}
                    <a rel="nofollow" onclick="return user.alterlogin('openid');" class="inurl">OpenID</a>
                </p>
            </dd>
            <dt class="inurl">Login with</dt>
            <dd class="hidden">
                <form id="login_openid" action="{% url 'socialauth_begin' 'openid' %}" target="Login" method="post" onsubmit="return user.alterlogin('{% url 'socialauth_begin' 'openid' %}');">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    <input id="openid_identifier" type="text" value="" name="openid_identifier" />
                    <input type="submit" value="Login" />
                </form>
            </dd>
            <dd class="hidden"><p id="socialinfo" class="error"></p></dd>
            <dd>
                <form method="POST" action="{% url 'registration' %}" id="register" class="register"  onsubmit="return user.register(event);">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    {% for field in RegisterForm %}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" class="clear" value="Register" />
                    <p class="mainerror error">
                        {{ RegisterForm.non_field_errors }}
                    </p>
                </form>
            </dd>
            <dt class="inurl">Registration</dt>
            <dd class="hidden"><p id="registerinfo" class="error"></dd>
        </dl>

{% endif %}
