{% extends "anime/base.html" %}

{% block main %}
    {# if user.is_authenticated #}
    <div id="dvid" style="width: $w.px;">
        <table id="tbl" cellspacing="0" class="tbl">
            <thead class="thdtbl">
                <tr id="wtr">
				    <th class="link" id="link">
	                   <a rel="nofollow" href=""></a>
                    </th>
                    <th class="id" id="id">
	                   <a rel="nofollow" href="/">№</a>
                    </th>
                    <th class="name" id="name">
	                   <a rel="nofollow" href="">Name</a>
                    </th>
                    <th class="numberofep" id="numberofep">
	                   <a rel="nofollow" href="">Episodes</a>
                    </th>
                    <th class="translation" id="translation">
	                   <a rel="nofollow" href="">Translation</a>
                    </th>
                    <th class="type" id="type">
	                   <a rel="nofollow" href="">Type</a>
                    </th>                    
                </tr>
            </thead>
            <tbody id="tbdid">
            {% for title in list %}
                <tr class="r{# { title.statusbundles.get.status } #}">
                    <td id="link{{ title.id }}" class="link">
                        <a target="_blank" class="cardurl" href="/card/{{ title.id }}/">
                            <img alt="Go" src="/static/arrow.gif">
                        </a>
                    </td>
                    <td onclick="cnt('id', '{{ title.id }}');" id="id{{ title.id }}" class="id">
                        {{ forloop.counter|add:page.start }}
                    </td>
                    <td onclick="cnt('name', '{{ title.id }}');" id="name{{ title.id }}" class="name left">
                        {{ title.title }}
                    </td>
                    <td onclick="cnt('numberofep', '{{ title.id }}');" id="numberofep{{ title.id }}" class="numberofep">
                        {{ title.episodesCount }}
                    </td>
                    <td onclick="cnt('translation', '{{ title.id }}');" id="translation{{ title.id }}" class="translation">
                        {{ title.releasedAt|date:"d.m.Y" }}
                        {%if title.endedAt %} - {{ title.endedAt|date:"d.m.Y" }} {% endif %} 
                    </td>                    
                    <td onclick="cnt('type', '{{ title.id }}');" id="type{{ title.id }}" class="type">
                        {{ title.releaseTypeS }}
                    </td>
                    {# custom fields #}
                </tr>
            {% endfor %}
            </tbody>
        </table>		
    </div>
    <div id="pg">
        {% for pname in pages %}
            {% ifequal page.number forloop.counter0 %}
                <span id="spanl">[
            {% else %}
                <a href="/{% ifnotequal forloop.counter0 0 %}{{forloop.counter0}}/{% endifnotequal %}">
            {% endifequal %}
                {{ pname }}
            {% ifequal page.number forloop.counter0 %}
                ]</span>
            {% else %}
                </a>
            {% endifequal %}
        {% endfor %}
    </div>
    {# endif #}
{% endblock %}