{% extends "anime/base.html" %}

{% load cache %}
{% load animefilters %}

{% block mainlink %}
{% endblock %}

{% block main %}
{% cache 600 mainTable cachestr %}
    <div id="dvid">
        <div id="card" class="right"></div>
        <table id="tbl" cellspacing="0" class="tbl">
            <thead class="thdtbl">
                <tr id="wtr">
                    <th class="link" id="link">
                        <a rel="nofollow" href=""></a>
                    </th>
                    <th class="id" id="id">
                        <a rel="nofollow" href="/">№</a>
                    </th>
                    <th class="name" id="name">
                        <a rel="nofollow" href="{% if link.user %}/user/{{ link.user }}{% endif %}{% if link.status %}/show/{{ link.status }}{% endif %}/{% if link.order == 'title' %}sort/-title/{% endif %}">Name</a>
                    </th>
                    <th class="numberofep" id="numberofep">
                        <a rel="nofollow" href="{% if link.user %}/user/{{ link.user }}{% endif %}{% if link.status %}/show/{{ link.status }}{% endif %}/sort/{% if link.order == 'episodesCount' %}-{% endif %}episodesCount/">Episodes</a>
                    </th>
                    <th class="release" id="release">
                        <a rel="nofollow" href="{% if link.user %}/user/{{ link.user }}{% endif %}{% if link.status %}/show/{{ link.status }}{% endif %}/sort/{% if link.order == 'releasedAt' %}-{% endif %}releasedAt/">Released</a>
                    </th>
                    <th class="type" id="type">
                        <a rel="nofollow" href="{% if link.user %}/user/{{ link.user }}{% endif %}{% if link.status %}/show/{{ link.status }}{% endif %}/sort/{% if link.order == 'releaseType' %}-{% endif %}releaseType/">Type</a>
                    </th>
                    {% if link.status == 3 and sbundle %}
                    <th id="rating" class="rating">
                        <a href="#" rel="nofollow">Rated</a>
                    </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="tbdid">
                {% for title in list %}
                <tr class="{% if title.air %}air a{% else %}r{% endif %}{{ title.id }}">
                    <td id="link{{ title.id }}" class="link">
                        <a target="_blank" class="cardurl" href="/card/{{ title.id }}/" onclick="return getCard({{ title.id }});">
                            <img alt="Go" src="/static/arrow.gif">
                        </a>
                    </td>
                    <td onclick="cnt('id', '{{ title.id }}', event);" id="id{{ title.id }}" class="id">{{ forloop.counter|add:page.start }}</td>
                    <td onclick="cnt('name', '{{ title.id }}', event);" id="name{{ title.id }}" class="name left">{{ title.title }}</td>
                    <td onclick="cnt('numberofep', '{{ title.id }}', event);" id="numberofep{{ title.id }}" class="numberofep">{% if sbundle %}{% with sbundle|hash:title.id as s %}{% if s.count %}{{ s.count }}/{% endif %}{% endwith %}{% endif %}{{ title.episodesCount }}</td>
                    <td onclick="cnt('release', '{{ title.id }}', event);" id="release{{ title.id }}" class="release">{{ title.release }}</td>
                    <td onclick="cnt('type', '{{ title.id }}', event);" id="type{{ title.id }}" class="type">{{ title.releaseTypeS }}</td>
                    {% if link.status == 3 and sbundle %}
                        <td id="rating{{title.id}}" class="rating">{% with sbundle|hash:title.id as s %}{{ s.rating }}{% endwith %}</td>
                    {% endif %}
                    {# custom fields #}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pg">
        {% for pname in pages %}
            {% ifequal page.number forloop.counter0 %}
                <span id="spanl">[{{ pname }}]</span>
            {% else %}
                <a href="/{{ link.link }}{% ifnotequal forloop.counter0 0 %}{{forloop.counter0}}/{% endifnotequal %}">{{ pname }}</a>
            {% endifequal %}
        {% endfor %}
    </div>
{% endcache %}
{% endblock %}
