{% extends "anime/base.html" %}
{% load url from future %}

    {% block customScripts %}<link rel="stylesheet" href="/static/requests.css" />{% endblock %}

    {% block main %}
    {% if user.is_authenticated %}
        {% if not form or not form.fields %}
            {% if text %}
    <div>{{ text }}</div>
            {% else %}
    <div>Bad parameters passed.</div>
            {% endif %}
        {# Костыли, костыли everywhere #}
        {% else %}
    <div style="margin-bottom: 5px;"><a href="{% url 'requests' %}">All requests</a></div>
    <div class="request">
        <div class="title">
            <p>
                <span><b>№:</b>{{ form.instance.id }}</span>
                <span class="right"><b>Type:</b>{{ form.instance.get_requestType_display }}</span>
                <span><b>User:</b>{% if user.is_staff %}{{ form.instance.user }}{% else %}Anonymous{% endif %}</span>
            </p>
            {% if form.instance.anime %}
            <p>
                <span>
                    <b>Related to:</b>
                    <a href="{% url 'card' form.instance.anime.id %}">{{ form.instance.anime }}</a>
                </span>
            </p>
            {% endif %}
        </div>
        <div class="request-body">
            {% ifequal form.instance.requestType 1 %}
            <img src="{{ MEDIA_URL }}{{ form.instance.text }}" alt="" >
            {% else %}
            <p>{{ form.instance.text }}</p>
            {% endifequal %}
        </div>
            {% if user.is_staff %}
        <form class="addform" action="" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            <div class="mainerror">
                {{ form.non_field_errors }}
            </div>
            <div class="clear">
                {% if form.instance.requestType == 1 and form.instance.status > 0 %}
                    <p>
                        <b>Status:</b>
                        <span class="block">{{ form.instance.get_status_display }}</span>
                    </p>
                {% else %}
                    {{ form.status.label_tag }}: {{ form.status }}
                    {{ form.status.errors }}
                {% endif %}
            </div>
            <div>
                {{ form.reason.label_tag }}: {{ form.reason }}
                {{ form.reason.errors }}
            </div>
            <input type="submit" class="right" value="Save" />
        </form>
            {% else %}
        <p><b>Status:</b>{{ form.instance.get_status_display }}</p>
                {% if form.reason.value %}
        <p><b>Comment:</b>{{ form.reason.value }}</p>
                {% endif %}
            {% endif %}
    </div>
        {% endif %}
    {% else %}
    <div>Pool's closed.</div>
    {% endif %}
    {% endblock %}
