{% extends "anime/base.html" %}

{% load cache %}

{% block searchlink %}
{% endblock %}


{% block search %}
    <div id="srch">
        <form method="POST" action="/search/" id="srchp">
            {% csrf_token %}
            {% comment %}
            <!--<p id="chtext"><input type="checkbox" id="chsrch" onClick="searcher.showAdvance();" />Advanced Search</p>-->
            <!--<select id="advsrch" class="advsrch">
                <option value="null" selected="selected">Find by:</option>
                <option value="genre">Genre</option>
            </select>
            <select id="sortsrch" class="advsrch">
                <option value="null" selected="selected">Sort by:</option>
                <option value="genre">Genre</option>
            </select>
            -->
            <!--<input type="text" onkeyup="app.acomp(this, 'catalog', event);" /><br/>-->
            {% endcomment %}
            <input id="sin" name="string" type="text" value="{{ string }}"/>
            <input type="submit" value="Search" />
        </form>
    </div>
{% endblock %}


{% block main %}
{% cache 600 search cachestr %}
    {% ifnotequal link 'search/' %}
    {% if not items %}
    <p>Nothing found.</p>
    {% else %}
    <div id="dvid">
        <table id="tbl" cellspacing="0" class="tbl">
            <thead class="thdtbl">
                <tr id="wtr">
                    <th class="link" id="link">
                        <a rel="nofollow" href=""></a>
                    </th>
                    <th class="id" id="id">
                        <a rel="nofollow" href="/">№</a>
                    </th>
                    <th class="name" id="name">
                        <a rel="nofollow" href="/">Name</a>
                    </th>
                    <th class="numberofep" id="numberofep">
                        <a rel="nofollow" href="/sort/episodesCount/">Episodes</a>
                    </th>
                    <th class="release" id="release">
                        <a rel="nofollow" href="/sort/releasedAt/">Released</a>
                    </th>
                    <th class="type" id="type">
                        <a rel="nofollow" href="/sort/releaseType/">Type</a>
                    </th>
                </tr>
            </thead>
            <tbody id="tbdid">
                {% for title in items %}
                <tr class="{% if title.air %}air a{% else %}r{% endif %}{{ title.id }}">
                    <td id="link{{ title.id }}" class="link">
                        <a target="_blank" class="cardurl" href="/card/{{ title.id }}/" onclick="return Card.get({{ title.id }});">
                            <img alt="Go" src="/static/arrow.gif">
                        </a>
                    </td>
                    <td onclick="cnt('id', '{{ title.id }}', event);" id="id{{ title.id }}" class="id">{{ forloop.counter|add:page.start }}</td>
                    <td onclick="cnt('name', '{{ title.id }}', event);" id="name{{ title.id }}" class="name">{{ title.title }}</td>
                    <td onclick="cnt('numberofep', '{{ title.id }}', event);" id="numberofep{{ title.id }}" class="numberofep">{% if title.1.count %}{{ title.1.count }}/{% endif %}{{ title.episodesCount }}</td>
                    <td onclick="cnt('release', '{{ title.id }}', event);" id="release{{ title.id }}" class="release">{{ title.release }}</td>
                    <td onclick="cnt('type', '{{ title.id }}', event);" id="type{{ title.id }}" class="type">{{ title.releaseTypeS }}</td>
                    {# custom fields #}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div id="card" class="right"></div>
    <div id="pg">
        {% for pname in pages %}
            {% ifequal page.number forloop.counter0 %}
                <span id="spanl">[{{ pname }}]</span>
            {% else %}
                <a href="{{ link }}{% ifnotequal forloop.counter0 0 %}{{forloop.counter0}}/{% endifnotequal %}">{{ pname }}</a>
            {% endifequal %}
        {% endfor %}
    </div>
    {% endif %}
    {% endifnotequal %}
{% endcache %}
{% endblock %}
