{% extends "anime/base.html" %}

{% load cache %}

{% load url from future %}

{% block searchlink %}
{% endblock %}


{% block search %}
    <div id="srch">
        <form method="POST" action="/search/" id="srchp">
            {% csrf_token %}
            {% comment %}
            <!--<p id="chtext"><input type="checkbox" id="chsrch" onClick="searcher.showAdvance();" />Advanced Search</p>-->
            <!--<select id="advsrch" class="advsrch">
                <option value="null" selected="selected">Find by:</option>
                <option value="genre">Genre</option>
            </select>
            <select id="sortsrch" class="advsrch">
                <option value="null" selected="selected">Sort by:</option>
                <option value="genre">Genre</option>
            </select>
            -->
            <!--<input type="text" onkeyup="app.acomp(this, 'catalog', event);" /><br/>-->
            {% endcomment %}
            <input id="sin" name="string" type="text" value="{{ link.string }}"/>
            <input type="submit" value="Search" />
        </form>
    </div>
{% endblock %}


{% block main %}
{% cache 0 search cachestr %}
    {% ifnotequal link 'search/' %}
    {% if not list %}
    {% if cachestr %}
    <p>Nothing found.</p>
    {% endif %}
    {% else %}
    {% if link.field and link.field != 'name' %}
        {% url 'search' string=link.string field=link.field as sort_link %}
    {% else %}
        {% url 'search' string=link.string as sort_link %}
    {% endif %}
    <div id="dvid">
        <table id="tbl" cellspacing="0" class="tbl">
            <thead class="thdtbl">
                <tr id="wtr">
                    <th class="link" id="link">
                        <a rel="nofollow" href=""></a>
                    </th>
                    <th class="id" id="id">
                        <a rel="nofollow" href="/">№</a>
                    </th>
                    <th class="name" id="name">
                        <a rel="nofollow" href="{{ sort_link }}{% if link.order == 'title' or not link.order %}sort/-title/{% endif %}">Name</a>
                    </th>
                    <th class="episodes" id="episodes">
                        <a rel="nofollow" href="{{ sort_link }}sort/{% if link.order == 'episodesCount' %}-{% endif %}episodesCount/">Episodes</a>
                    </th>
                    <th class="release" id="release">
                        <a rel="nofollow" href="{{ sort_link }}sort/{% if link.order == 'releasedAt' %}-{% endif %}releasedAt/">Released</a>
                    </th>
                    <th class="type" id="type">
                    <a rel="nofollow" href="{{ sort_link }}sort/{% if link.order == 'releaseType' %}-{% endif %}releaseType/">Type</a>
                    </th>
                </tr>
            </thead>
            <tbody id="tbdid">
                {% for title in list %}
                <tr class="{% if title.air %}air a{% else %}r{% endif %}{{ title.id }}">
                    <td id="link{{ title.id }}" class="link">
                        <a target="_blank" class="cardurl" href="/card/{{ title.id }}/" onclick="return Card.get({{ title.id }});">
                            <img alt="Go" src="/static/arrow.gif">
                        </a>
                    </td>
                    <td onclick="cnt('id', '{{ title.id }}', event);" id="id{{ title.id }}" class="id">{{ forloop.counter0|add:pages.start }}</td>
                    <td onclick="cnt('name', '{{ title.id }}', event);" id="name{{ title.id }}" class="name">{{ title.title }}</td>
                    <td onclick="cnt('episodes', '{{ title.id }}', event);" id="episodes{{ title.id }}" class="episodes">{{ title.episodesCount }}</td>
                    <td onclick="cnt('release', '{{ title.id }}', event);" id="release{{ title.id }}" class="release">{{ title.release }}</td>
                    <td onclick="cnt('type', '{{ title.id }}', event);" id="type{{ title.id }}" class="type">{{ title.releaseTypeS }}</td>
                    {# custom fields #}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div id="card" class="right"></div>
    {% if pages.items.num_pages > 1 %}
        <div id="pg">
            {% for page in pages.items.get_names %}
                {% ifequal pages.current forloop.counter %}
                    <span id="spanl">[{{ page }}]</span>
                {% else %}
                    <a href="{{ link.link }}{% ifnotequal forloop.counter 1 %}{{forloop.counter}}/{% endifnotequal %}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
        </div>
    {% endif %}
    {% endif %}
    {% endifnotequal %}
{% endcache %}
{% endblock %}
