{% extends "anime/base.html" %}
{% load animetemplates %}
    {% block customScripts %}
    <link rel="stylesheet" href="/static/requests.css" />
    <script type="text/javascript" src="/static/settings.js"></script>
    {% endblock %}

    {% block main %}
    {% if user.is_authenticated %}
    <h4>Account:</h4>
    <div class="column">
        <div>
            <b>User name: </b><a class="form" onclick="toggle(this.parentNode.nextSibling);">{% username user %}</a>
        </div>
        <form method="POST" class="hidden" action="{% url settings %}">
            {% csrf_token %}
            <table>
                {{ usernames.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" class="clear right" value="Set" name="usernames" />
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <b>E-mail: </b><a class="form" onclick="toggle(this.parentNode.nextSibling);">{{ user.email }}</a>
        </div>
        <form method="POST" {% if not emailForm.errors and not emailForm.non_field_errors %}class="hidden"{% endif %} action="{% url settings %}">
            {% csrf_token %}
            <div class="mainerror">{{ emailForm.non_field_errors }}</div>
            {{ emailForm.email }}
            <input type="submit" value="Set" name="emailform" />
            {{ emailForm.errors }}
        </form>
        <a class="block" href="{% url password_change %}">Change password</a>
    </div>
    <h4>Load MAL list:</h4>
    <form class="fileform" action="{% url settings %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mainerror{% if not mallistform.non_field_errors %} hidden{% endif %}">
            {{ mallistform.non_field_errors }}
        </div>
        <div>{{ mallistform.rewrite.label_tag }}: {{ mallistform.rewrite }}</div>
        <div>
            {{ mallistform.file }}
            <input type="submit" value="Upload" name="mallist" />
            {{ mallistform.file.errors }}
        </div>
        <span class="helpText">Supported types: xml, gzip compressed xml(xml.gz).</span>
    </form>
    {% if mallist and mallist.list %}
    <div class="clear malresult">
        <p>Updated: {{ mallist.date|date:"d.m.Y f" }}</p>
        {% if mallist.list.error %}
        <p class="error">{{ mallist.list.error }}</p>
        {% else %}
        {% if mallist.list.updated %}
        <p class="s3">Your list is processed. This may take some time. Reload page to see result.</p>
        {% else %}
        <p class="helpText">This is alpha version of script which is only for facilitation of data transfer, please be patient.</p>
        <div class="column left">
            <span class="right">{{ mallist.list.withMal|length }}</span>
            <h4>Found by mal id:</h4>
            <span class="helpText">These records already have mal id. Added successfully.</span>
            <dl>
            {% for record in mallist.list.withMal %}
                <dt><a href="{% url card record.object.id %}">{{ record.object.name }}</a></dt>
            {% endfor %}
            </dl>
        </div>
        <div class="column left">
            <span class="right">{{ mallist.list.withNames|length }}</span>
            <h4>Found by name match:</h4>
            <span class="helpText">These records have no mal id. Added successfully, but may contain mismatches. Please add mal id to them.</span>
            <span class="helpText">Other possible matches listed below the records.</span>
            <dl>
            {% for record in mallist.list.withNames %}
                <dt><a href="/card/{{ record.object.id }}">{{ record.object.name }}</a></dt>
                {% if record.unmatched %}
                <dd>
                    <ul>{% for variant in record.unmatched %}
                        <li><a href="{% url card variant.id %}">{{ variant.name }}</a></li>
                        {% endfor %}
                    </ul>
                </dd>
                {% endif %}
            {% endfor %}
            <dl>
        </div>
        <div class="column left">
            <span class="right">{{ mallist.list.notFound|length }}</span>
            <h4>Not-found records:</h4>
            <span class="helpText">This records not in the database or have another name.</span>
            <span class="helpText">Possible matches listed below the records.</span>
            <span class="helpText">Mal has a redundancy in the records. Please do not add items being a short(&lt;30 min) DVD-Specials related to exiting title, they will be deleted.</span>
            <dl>
            {% for record in mallist.list.notFound %}
                <dt>{{ record.series_title }}</dt>
                {% if record.unmatched %}
                <dd>
                    <ul>{% for variant in record.unmatched %}
                        <li><a href="{% url card variant.id %}">{{ variant.name }}</a></li>
                    {% endfor %}
                    </ul>
                </dd>
                {% endif %}
            {% endfor %}
            <dl>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {%endif%}
    {% if requests %}
    <div id="requests">
        {% if requestTypes %}
        <div class="right select">
            <select id="requestDisplay">
                <option value="all" selected="selected">All</option>
                {% for opt in requestTypes %}
                    <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                {% endfor %}
            </select>
            <span>Requests&nbsp;&nbsp;⇵</span>
        </div>
        {% endif %}
        <h4>Requests:</h4>
        {% for request in requests %}
        <div class="request request{{ request.requestType }}">
            <span class="right"><b>Status:</b>{{ request.get_status_display }}</span>
            <span><b>№:</b><a href="{% url request_item request.id %}">{{ request.id }}</a></span>
            <span><b>Type:</b>{{ request.get_requestType_display }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% else %}
    <div>No settings for you.</div>
    {% endif %}
    {% endblock %}
