{% extends "anime/base.html" %}

{% load animetemplates %}

{% block statdiv %}
{% endblock %}

{% block main %}
    {% if not stat %}
    <div id="nostat">
        No such user.
    </div>
    {% else %}
    <div>
        <p><b>User</b>: {% ifequal user.id userid %}{% username user %}{% else %}{% username '' %}{% endifequal %}</p>
        {% ifequal user.id userid %}
        <p><b>Statistics link</b>: <a href="http://anicat.net/stat/{{ userid }}/">anicat.net/stat/{{ userid }}/</a></p>
        {% endifequal %}
    </div>
    <div id="statistic">
        <p>Statistics:</p>
        <table style="border-collapse: separate;">
            <thead>
                <tr>
                    <th></th>
                    <th>Items</th>
                    <th colspan="2">Full duration</th>
                    <th colspan="2">Watched</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for element in stat %}
                <tr class="stat">
                    <td class="textleft stat{{ element.name|lower }}">{{ element.name|capfirst }}:</td>
                    <td>{{ element.count|default_if_none:0 }}</td>
                    <td class="num">{{ element.full|default_if_none:0 }}</td>
                    <td class="textleft">min.</td>
                    <td class="num">{{ element.custom|default_if_none:0 }}</td>
                    <td class="textleft">min.</td>
                    <td>{% if forloop.counter < 6 %}<a target="_blank" class="blacklink" href="/user/{{ userid }}/show/{{forloop.counter}}/" onclick="return loadURIHash(this.href);">↪</a>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="dvid"></div>
    <div id="card" class="right"></div>
    {% endif %}
{% endblock %}
