.air {
	background-color: yellow;
}
.sNone, .s0, .s {
	font: normal 14pt "times new roman",serif !important;
	color: #000 !important;
}
{% if user.is_authenticated %}
.s1 {
	font: normal 14pt "times new roman",serif !important;
	color: MediumBlue !important;
}
.s2 {
	font: normal 14pt "times new roman",serif !important;
	color: DarkTurquoise !important;
}
.s3 {
	font: normal 14pt "times new roman",serif !important;
	color: SeaGreen !important;
}
.s4 {
	font: normal 14pt "times new roman",serif !important;
	color: red !important;
}
.s5 {
	font: normal 14pt "times new roman",serif !important;
	color: #F0F0F0 !important;
}
{% if style.0 %}{% endif %}
{% if style.1.0 %}.rs1, .r{{ style.1.0 }} {
	background-color: DeepSkyBlue;
}
.as1, .a{{ style.1.1 }} {
	background-color: #FF69B4;
}{% endif %}
{% if style.2.0 %}.rs2, .r{{ style.2.0 }} {
	background-color: cyan;
}
.as2, .a{{ style.2.1 }} {
	background-color: #FFD700;
}{% endif %}
{% if style.3.0 %}.rs3, .r{{ style.3.0 }} {
	background-color: #ccffcc;
}
.as3, .a{{ style.3.1 }} {
	background-color: #f2f696;
}{% endif %}
{% if style.4.0 %}.rs4, .r{{ style.4.0 }} {
	background-color: red;
}
.as4, .a{{ style.4.1 }} {
	background-color: #ffb300;
}{% endif %}
{% if style.5.0 %}.rs5, .r{{ style.5.0 }} {
	background-color: #F0F0F0;
}
.as5, .a{{ style.5.1 }} {
	background-color: #FFFFCC;
}{% endif %}
{% endif %}