
div.request {
    margin-bottom: 20px;
    width: 550px;
}

div.request span {
    padding-right: 5px;
}

div.request span b, div.request p b {
    margin-right: 3px;
}

div.request .request-body {
    margin: 2px 0px;
    padding-left: 5px;
    width: 100%;
}

div.request div.request-body img{
    margin: 0 auto;
    display: block;
}

div#requests {
    width: 280px;
}

div#requests h4 {
    margin-bottom: 10px;
}

div#requests div.request {
    margin-bottom: 0px;
    margin-top: 3px;
    width: 100%;
}
