/*Помойка*/

/* Tags */
body {
    font-size: 12pt;
    padding: 0px;
    font-family: "times new roman", serif;
    margin-top: 0px;
    background: #FFF;
    line-height: 27px;
}

body * {
    margin: 0px;
    padding: 0px;
}

input, select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 23px;
    padding: 1px 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border: 1px solid #B0B0B0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 1px;
    vertical-align: middle;
    background-color: #FFF;
}

form, #card, #pagecard, .request, .faq, .malresult {
    line-height: 18px;
}

/*select {
    width: 185px;
}*/

input[type=button], input[type=submit] {
    background-color:#ededed;
    display: inline-block;
    color: #6e6e6e;
    font-family: sans-sherif;
    font-size: 10pt;
    font-weight: bold;
    width: 100px;
    text-decoration: none;
    padding: 0px;
    /*top: 1px;*/
    text-shadow: 1px 1px 5px #ffffff;
}
input[type=button]:hover, input[type=submit]:hover {
    background-color:#f5f5f5;
}

fieldset {
    border: none;
}

a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: #0068ef; /*#00cc88;*/
}
a:hover{
    text-decoration: underline;
}

/* Global classes */
.error, .errorlist{
    color: #cc0000;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

/* Trash */

/* Classes */
.delimiter {
    margin: 0px 4px 0px 3px;
    color: #063;
    font-weight: bold;
}

.select {
    display: inline;
}

.select select {
    position: absolute;
    opacity: 0;
}


#header{
    width: 100%;
    height: 26px; /* + 1px border */
    border: solid black 1px;
    border-top: none;
    margin-bottom: 9px;
}

#header a, #loginform a{
    margin-left: 2px;
    margin-right: 3px;
}

#dvid{
    overflow: auto;
    margin-bottom: 9px;
}

#listtitle {
    margin-bottom: 9px;
}

.tbl{
    line-height: 1.5em;
}

.thdtbl{
background-color: #339966;
border: none;
}

#tbl td, #tbl th, #srchtbl td{
    position: relative;
    text-align: center;
    width: 190px;
    z-index: 0;
    overflow: hidden;
    padding: 0px 1px;
}

.tbl tr, .tbl td, .tbl th{
    height: 27px;
}

.link{
    width: 24px !important;
}

.name{
    display: inline-block;
}

.id{
    width: 30px !important;
    background-color: #339966 !important;
    text-align: right !important;
    cursor: pointer;
}

.episodes {
    width: 64px !important;
}

.type, .rating {
    width: 58px !important;
}

.changed {
    width: 100px !important;
}

.footer{
    margin-top: 9px;
    clear: both;
}

tr.stat {
    text-align: right;
    border-spacing: 3;
    line-height: 1.2em;
}

/*Спан, и шрифт для ссылок*/

#pg a, #spanl{
    font: bold 12pt sans-serif;
}

#pg * {
    margin-right: 7px;
    /*color: #339966;*/
}

#spanl{
    color: #000;
}

.link a:link, .link a:visited, .link a:active, .link a:hover{
    margin-top: 1px;
}
.link a img{
    border: none;
}


/* Links */
.leftmenu,
.thdtbl a:link, .thdtbl a:visited, .thdtbl a:active, .thdtbl a:hover,
#header .select span{
    font-weight: bold;
    color: #FFFFCC;
}

.inurl, a.inurl:link, a.inurl:hover, a.inurl:active, a.inurl:visited{
    color: #339966;
    font-weight: bold;
    cursor: pointer;
}

.blacklink {
    color: #000 !important;
    text-decoration: none;
}

a.blacklink:hover {
    color: #0068ef !important;
}


/* Menus */
.leftmenu{
    float: left;
    margin: 0px 3px;
}

#menu {
    font-size: 14pt;
}

/* menu's content */
.cont_men {
    padding: 7px 10px;
    border: 1px solid;
    border-color: #F0F0F0 #808080 #808080 #F0F0F0;
    background-color: #D4D0C8;
    position: absolute;
    z-index: 5;
    display: none;
    line-height: 21px;
}

.cont_men td.bundle_number {
    display: none;
}


/* Login form */
.rightmenu{
    float: right;
    margin: 0px 3px;
}

#loginform {
    width: 600px;
    display: none;
    clear: right;
}

#loginform dl {
    width: 100%;
}

#loginform dt, #loginform dd {
    height: 27px;
    margin-bottom: 9px;
}

#loginform dt {
    float: right;
    max-width: 120px;
    font-weight: bold;
}

#loginform dd {
    width: 473px;
    float: right;
    margin-left: 10px;
}

#loginform dt.inurl {
    cursor: text;
}

#loginform dd.hidden{
    height: auto;
}

#loginform a {
    vertical-align: top;
}

#loginform a#register-more {
    margin-right: 0px;
    line-height: 32px;
}



#loginform input[type="text"], #loginform input[type="password"] {
    width: 185px;
}

#show {
    padding: 0px;
    margin-left: -7px;
    margin-top: 1px;
    cursor: pointer;
}

#lname, #lpasswd{
    width: 150px;
}

.register span.error{
    width: 290px !important;
    white-space: normal !important;
}

.register label {
    font-weight: bold;
    margin: 0 0 1px 0;
}


/*Поиск и все с ним связанное.*/
#srch{
    margin-bottom: 9px;
}

#srchpg{
    font-size: 15pt;
}

#srchpg a{
    cursor: pointer;
}

#srchpg a, #srchpg span{
    padding: 0px 3px;
}

#srchp{
    margin-bottom: 9px;
}


/* Cards */
.cardcol{
    float: left;
    margin: 0px 10px !important;
    min-width: 125px;
}

.cardcol div {
    clear: both;
    float: left;
    min-width: 190px;
    margin-bottom: 3px;
}
.cardcol div div {
    margin-bottom: 0px;
}

.cardcol input, .cardcol select {
    width: 190px;
    margin-bottom: 0px;
}

.cardcol span {
    margin-left: 2px;
}

.cardcol a.right {
    color: #000;
    font-size: 10pt;
    cursor: pointer;
}
.cardcol a.right:hover {
    color: #0068ef;
}

#card {
    position: absolute;
    right: 0px;
    background: #FFF;
}

#main.cardcol{
    max-width: 600px;
}

#imagebun.cardcol{
    max-width: 400px;
    margin-bottom: 30px !important;
}

#imagebun img{
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
#cimg {
    width: 100%;
}


/* Add form */
#id_genre {
    height: 22px;
    padding-top: 2px;
    display: block;
}
#id_genre:hover {
    position: absolute;
    height: 30em;
    width: 200px;
}

select.linktype {
    width: 108px;
}

.calendarbox {
    border-color: #FFFFFF #FFFFFF #808080 #808080;
    background-color: #D4D0C8;
    padding: 5px;
}

.calendarbox caption {
    width: 100%;
    margin-left: -30px;
}

.calendarbox a, .datetimeshortcuts a {
    cursor: pointer;
    text-decoration: none;
}

.calendar-shortcuts a, .calendar-shortcuts a:hover {
    font-size: 11pt;
}

.calendarbox td {
    width: 21px;
    height: 21px;
    text-align: right;
    padding: 1px;
}

.calendar-cancel {
    text-align: center;
}

.datetimeshortcuts {
    float: right;
    margin-top: -1px;
    margin-right: 11px;
}

.editDiv {
    min-height: 22px;
}

.addform {
    width: 420px;
}

.addfrmoc { /* Опять же костыли */
    width: 215px;
}

.addform input {
    clear: both;
    margin-right: 10px;
}


.addform input[type="submit"] {
    margin-top: 29px;
    margin-right: 13px;
    clear: none;
}

.addform span.s3 {
    margin-top: 31px;
    margin-left: 6px;
    display: inline-block;
}

.addform div {
    width: 200px;
    min-height: 48px;
    float: left;
    margin: 5px;
}
.addform div input, .addform div select {
    width: 192px;
    margin: 3px 0;
    background-color: #FFF;
}
.addform div textarea {
    margin: 3px 0;
    padding: 5px 2px;
    font-size: 11pt;
}

.addform ul li, .errorlist li {
    list-style: none;
}

.addform div.mainerror {
    float: none;
    width: 100%;
    min-height: 0px;
}

.addform .block {
    margin-top: 5px;
    margin-left: 5px;
}

.addform div#TitleHelperForm {
    margin-right: 5px;
    margin-top: 0;
    padding: 7px 8px;
    width: auto;
}

.addform div#TitleHelperForm li {
    white-space: nowrap;
    margin-bottom: 3px;
    padding: 0px 5px;
    cursor: pointer;
}

.addform div#TitleHelperForm li:hover {
    background-color: #808080;
}

.addform div#TitleHelperForm li p {
    margin-bottom: -5px;
}

.addform div#TitleHelperForm span {
    font-size: 10pt;
    line-height: 12px;
    display: inline-block;
    float: none;
    height: auto;
    width: 180px;
}



.fileform {
    margin-bottom: 10px;
}

.fileform div {
    margin-bottom: 5px;
}

.helpText {
    font-size: 11pt;
}

.column {
    width: 350px;
    margin: 10px;
}

.column p {
    font-size: 14pt;
}

.column .helpText {
    display: block;
    margin: 5px 0 5px 10px;
}

.column dt {
    margin-top: 5px;
}

.column dd {
    margin-top: 2px;
}

.column ul {
    margin-left: 15px;
    margin-bottom: 7px;
}

.column a.form {
    cursor: pointer;
    color: #000;
}


/* Id's */
#addform {
    top: 30px;
    left: 30px;
}

#requests, .column {
    line-height: 1.2em;
}

.editDiv select#id_state{
    width: 74%;
}
.editDiv select#id_rating, .editDiv select#id_count {
    width: 24%;
}

/* Specific things */
.malresult p.s3, .malresult .error{
    margin-top: 5px;
    font-size: 12pt !important;
}

#id_genre {
    *height: 300px;
    height: 300px\0/;
}
