/*Помойка*/

/* Tags */
body {
    font-size: 12pt;
    padding: 0px;
    font-family: "times new roman", serif;
    margin-top: 0px;
    background: #FFF;
}

body * {
    margin: 0px;
    padding: 0px;
}

input, select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    padding: 1px 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border: 1px solid #B0B0B0;
    margin-right: 1px;
    vertical-align: middle;
    background-color: #FFF;
}

/*select {
    width: 185px;
}*/

input[type=button], input[type=submit] {
    background-color:#ededed;
    display: inline-block;
    color: #6e6e6e;
    font-family: sans-sherif;
    font-size: 10pt;
    font-weight: bold;
    width: 100px;
    text-decoration: none;
    padding: 0px;
    /*top: 1px;*/
    text-shadow: 1px 1px 5px #ffffff;
}
input[type=button]:hover, input[type=submit]:hover {
    background-color:#f5f5f5;
}

fieldset {
    border: none;
}

a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: #0068ef; /*#00cc88;*/
}
a:hover{
    text-decoration: underline;
}

/* Global classes */
.error, .errorlist{
    color: #cc0000;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

/* Trash */

/* Classes */
.delimiter {
    margin: 0px 4px 0px 3px;
    color: #063;
    font-weight: bold;
}

.select {
    display: inline;
}

.select select {
    position: absolute;
    opacity: 0;
}


#dvid{
    overflow: auto;
}

#header{
    width: 100%;
    height: 24px;
    border: solid black 1px;
    border-top: none;
}

#header a{
    margin-left: 2px;
    margin-right: 3px;
}

.tbl{
    line-height: 24px;
}

.thdtbl{
background-color: #339966;
border: none;
}

#srchtbl {
    margin-bottom: 5px;
}

#tbl td, #tbl th, #srchtbl td{
position: relative;
/*height: 22px;*/
text-align: center;
width: 180px;
z-index: 0;
overflow: hidden;
padding: 1px;
}
.link{
    width: 20px !important;
}
.name{
    height: 27px;
}
.id{
    width: 30px !important;
    background-color: #339966 !important;
    text-align: right !important;
    cursor: pointer;
}
.numberofep {
    width: 80px !important;
}
.type, .rating {
    width: 55px !important;
}
.footer{
    margin-top: 10px;
    clear: both;
}

/* контент для меню */
.cont_men {
    padding: 7px 10px;
    border: 1px solid;
    border-color: #F0F0F0 #808080 #808080 #F0F0F0;
    background-color: #D4D0C8;
    position: absolute;
    z-index: 5;
    display: none;
}

.cont_men td.bundle_number {
    display: none;
}

#menu {
    font-size: 14pt;
}

/*Спан, и шрифт для ссылок*/

#pg a, #spanl{
    font: bold 12pt sans-serif;
}

#pg * {
    margin-right: 7px;
    /*color: #339966;*/
}

#spanl{
    color: #000;
}

.link a:link, .link a:visited, .link a:active, .link a:hover{
    margin-top: 1px;
}
.link a img{
    border: none;
}


/* Ссылки*/
.leftmenu,
.thdtbl a:link, .thdtbl a:visited, .thdtbl a:active, .thdtbl a:hover,
#header .select span{
    font-weight: bold;
    color: #FFFFCC;
}

.inurl, a.inurl:link, a.inurl:hover, a.inurl:active, a.inurl:visited{
    color: #339966;
    font-weight: bold;
    cursor: pointer;
}

.blacklink {
    color: #000 !important;
    text-decoration: none;
}

a.blacklink:hover {
    color: #0068ef !important;
}

/*Менюшки, etc.*/
.leftmenu{
    float: left;
    margin: 2px 3px 10px 3px;
}

/*Форма входа*/
.rightmenu{
    float: right;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-right: 2px;
}

#logdv {
    width: 600px;
    display: none;
    clear: right;
    margin-right: 6px;
}

#logdv dl {
    width: 100%;
}

#logdv dt, #logdv dd {
    line-height: 1.75em;
}

#logdv dt {
    float: right;
    max-width: 120px;
    font-weight: bold;
}

#logdv dd {
    width: 473px;
    float: right;
    margin: 0px 0 4px 10px;
}

#logdv a {
    vertical-align: top;
}

#logdv form#login {
    width: 529px;
}

#logdv form#login_openid {
    display: none;
}

#logdv p.error {
    display: none;
}

#show {
    padding: 0px;
    margin-left: -7px;
    margin-top: 1px;
    cursor: pointer;
}

#lname, #lpasswd{
    width: 150px;
}

.register span.error{
    width: 290px !important;
    white-space: normal !important;
}

.register label {
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 1px 0;
}

.register input[type=text] {
    margin-left: 1em;
}


#lngs{
font-size: 10pt;
}

/*Поиск и все с ним связанное.*/
#srch{
    margin-top: 5px;
    margin-bottom: 10px;
}

#srchpg{
    margin: 3px;
    width: 1000px;
    font-size: 15pt;
}

#srchpg a{
    cursor: pointer;
}

#srchpg a, #srchpg span{
    padding: 0px 3px;
}

#srchp{
    margin-top: 2px;
    margin-bottom: 5px;
}

#chtext{
margin-top: 8px;
margin-bottom: 5px;
}
#ids{
position: fixed;
left: 600px;
top: 200px;
background-color: #c0c0c0;
padding: 5px 10px;
}
/*Автодополнение*/
.app_div{
position: absolute; /*fixed !important;*/
background-color: transparent;
z-index: 20;
border: 1px solid black;
background-color: Window;
overflow: hidden;
}
.app_div ul {
width: 100%;
/*list-style-position: outside;
list-style: none;*/
}
.app_div li {
min-width: 211px;
padding: 2px 5px;
cursor: pointer;
display: block;
width: 100%;
font: menu;
font-size: 16px;
overflow: hidden;
}

.app_over {
background-color: Highlight;
color: HighlightText;
}

/*Cards*/
.cardelem{
    margin-top: 5px;
}
.cardcol{
    float: left;
    margin: 0px 10px !important;
    min-width: 125px;
}
.cardcol div{
    clear: right;
    margin-right: 10px;
    margin-top: 3px;
}
.cardcol a.right {
    color: #000;
    font-size: 10pt;
    cursor: pointer;
}
.cardcol a.right:hover {
    color: #0068ef;
}
#card {
    position: absolute;
    right: 0px;
    background: #FFF;
}
#staff.cardcol{
clear: left;
}
#main.cardcol{
max-width: 600px;
}
#imagebun.cardcol{
max-width: 400px;
margin-bottom: 30px !important;
}
#imagebun img{
max-width: 400px;
}
.elemlbl{
font-weight: bold;
}

#id_genre {
    height: 22px;
    padding-top: 2px;
    display: block;
}
#id_genre:hover {
    position: absolute;
    height: 30em;
    width: 200px;
}

.calendarbox {
    border-color: #FFFFFF #FFFFFF #808080 #808080;
    background-color: #D4D0C8;
    padding: 5px;
}

.calendarbox caption {
    width: 100%;
    margin-left: -30px;
}

.calendarbox a, .datetimeshortcuts a {
    cursor: pointer;
    text-decoration: none;
}

.calendar-shortcuts a, .calendar-shortcuts a:hover {
    font-size: 11pt;
}

.calendarbox td {
    width: 21px;
    height: 21px;
    text-align: right;
    padding: 1px;
}

.calendar-cancel {
    text-align: center;
}

.datetimeshortcuts {
    float: right;
    margin-top: -1px;
}

.addform {
    width: 420px;
}

.addfrmoc { /* Опять же костыли */
    width: 215px;
}

.addform input {
    clear: both;
    margin-right: 10px;
}


.addform input[type="submit"] {
    margin-right: 13px;
    margin-bottom: 2px;
}

.addform div {
    width: 200px;
    min-height: 48px;
    float: left;
    margin: 5px;
}
.addform div input, .addform div select {
    width: 192px;
    margin: 3px 0;
    background-color: #FFF;
}
.addform div textarea {
    margin: 3px 0;
    padding: 5px 2px;
    font-size: 11pt;
}

.addform ul li, .errorlist li {
    list-style: none;
}

.addform div.mainerror {
    float: none;
    width: 100%;
    min-height: 0px;
}

.addform .block {
    margin-top: 5px;
    margin-left: 5px;
}

.fileform {
    margin-bottom: 10px;
}

.fileform div {
    margin-bottom: 5px;
}

.helpText {
    font-size: 11pt;
}

.column {
    width: 350px;
    margin: 10px;
}

.column p {
    font-size: 14pt;
}

.column .helpText {
    display: block;
    margin: 5px 0 5px 10px;
}

.column dt {
    margin-top: 5px;
}

.column dd {
    margin-top: 2px;
}

.column ul {
    margin-left: 15px;
    margin-bottom: 7px;
}

.column a.form {
    cursor: pointer;
    color: #000;
}

/* Id's */
#addform {
    top: 30px;
    left: 30px;
}

/* Specific things */
.malresult p.s3, .malresult .error{
    margin-top: 5px;
    font-size: 12pt !important;
}

#id_genre {
    *height: 300px;
    height: 300px\0/;
}
