.sNone, .s0, .s {
    font: normal 14pt "times new roman",serif !important;
    color: #000 !important;
}

.s1 {
    font: normal 14pt "times new roman",serif !important;
    color: MediumBlue !important;
}

.s2 {
    font: normal 14pt "times new roman",serif !important;
    color: DarkTurquoise !important;
}

.s3 {
    font: normal 14pt "times new roman",serif !important;
    color: SeaGreen !important;
}

.s4 {
    font: normal 14pt "times new roman",serif !important;
    color: red !important;
}

.s5 {
    font: normal 14pt "times new roman",serif !important;
    color: #F0F0F0 !important;
}

.rNone, .r0, .r {
    background-color: white;
}
.r1 {
    background-color: DeepSkyBlue;
}

.r2 {
    background-color: cyan;
}

.r3 {
    background-color: #ccffcc;
}

.r4 {
    background-color: red;
}

.r5 {
    background-color: #F0F0F0;
}

.rNone1, .r01{
    background-color: yellow;
}

.r11 {
    background-color: #FF69B4;
}

.r21 {
    background-color: #FFD700;
}

.r31 {
    background-color: #f2f696;
}

.r41 {
    background-color: #ffb300;
}

.r51 {
    background-color: #FFFFCC;
}