{% extends "anime/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block main %}
    <h3>{% trans 'Password reset' %}</h3>
    {% if validlink %}
    <form method="POST" action="">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        <table>
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" class="clear right" value="{% trans 'Change' %}" />
                </td>
            </tr>
        </table>
    </form>

{% else %}
    <div class="error">
        <h3>{% trans 'Password reset unsuccessful' %}</h3>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </div>
{% endif %}
{% endblock %}
