{% extends "anime/base.html" %}
{% block main %}
{% if not user.is_authenticated %}
    <form method="POST" action="/register/" id="register" class="register left">
        {% csrf_token %}
        <p class="mainerror">
            {{ RegisterForm.non_field_errors }}
        </p>
        {% for field in RegisterForm %}
        <p class="clear">
            {{ field }}
            {{ field.label_tag }}<b>:</b>
            {% if field.errors %}
            <p class="error">{{ field.errors }}</p>
            {% endif %}
        </p>
        {% endfor %}
        <input type="submit" class="clear" value="Register" />
    </form>
{% else %}
    <p>No registration for you.</p>
{% endif %}
{% endblock %}
