
{% load animefilters %}

<tbody id="tbdid">
    {{ list.head }}
    {% for row in list %}
        <tr {% if forloop.counter|divisibleby:2 %}class="rs5"{% endif %}>
        {% for header in head %}
            <td>
            {% ifequal header 'action_user' %}
                {% if user.is_staff and row.action_user_id %}
                    <a href="{% url 'statistics' user_id=row.action_user_id %}">{{ row.action_user|username }}</a>
                {% else %}
                    *
                {% endif %}
            {% else %}
                {{ row|animeitem:header }}
            {% endifequal %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</tbody>
