{% extends "anime/base.html" %}

{% load cache %}

{% load animetemplates %}

{% block title %}History{% endblock %}

{% block mainlink %}
{% endblock %}

{% block main %}
{% cache 0 history cachestr %}
    <div id="dvid">
        {% if not list %}
            {% if cachestr %}
        <p>Nothing to display.</p>
            {% endif %}
        {% else %}
            {% url 'index' status=link.status user=link.user as link_order %}
        <table id="tbl" cellspacing="0" class="tbl">
            {% include "anime/history/head.html" %}
            {% include "anime/history/body.html" %}
        </table>
        {% endif %}
    </div>
    {% include "anime/base/named_pages.html" %}
    <div id="card" class="right"></div>
{% endcache %}
{% endblock %}
